<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Investment</title>
        <link rel="icon" href="/static/logos/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/logos/favicon-16x16.png">  
    <link rel="apple-touch-icon" href="/static/logos/apple-touch-icon.png">
    <link rel="manifest" href="/static/logos/site.webmanifest">

    </head>
    <body>
        <form action=" /create " method=" post">
            "title":" <input type="text" name="title" required><br>
            "content":" <input type="text" name="content" required><br>
            <input type="submit" value="Create">   
        </form>
</html>