<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style2.css') }}">   

</head>

<body>
    <div id="particles-js"></div>
    <br> <br> 
    <p> You have successfully logged in 🚀</p>
    <h1> Welcome to the P.I.T.</h1>

    <br> <br> 

    <table border="1" cellpadding="10">

        <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>Buy Price</th>
            <th>Current Price</th>
            <th>Profit / Loss</th>
            <th>Percentage</th>
            <th>Action</th>
        </tr>

        {% for inv in investments %}

        <tr>

            <td>{{ inv.coin }}</td>

            <td>{{ inv.amount }}</td>

            <td>{{ inv.buy_price }}</td>

            <td>{{ inv.current_price }}</td>

            <td>
                {{ inv.profit_loss }}
            </td>

            <td>
                {{ inv.percentage }}%
            </td>

            <td>

                <a href="/delete/{{ inv.id }}">
                    <button>Delete</button>
                </a>

            </td>

        </tr>
        {% endfor %}

    </table>

    <script>

    function toggleMenu(){

    const sidebar =
        document.getElementById("sidebar");

    if(sidebar.style.right === "0px"){

        sidebar.style.right = "-250px";

    }else{

        sidebar.style.right = "0px";
    }
}

</script>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<script>
particlesJS("particles-js", {
  particles: {
    number: {
      value: 80
    },
    color: {
      value: "#00ffe1"
    },
    shape: {
      type: "circle"
    },
    opacity: {
      value: 0.5
    },
    size: {
      value: 3
    },
    line_linked: {
      enable: true,
      distance: 150,
      color: "#00ffe1",
      opacity: 0.3,
      width: 1
    },
    move: {
      enable: true,
      speed: 2
    }
  }
});
</script>

</body>

{% include "navbar.html" %}

</html>