<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>P.I.T.</title>

    <!-- Flask için CSS bağlantısı -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="tsparticles"></div>    
    <div class="container">
        <h1>Welcome to the Personal Investment Tracker</h1>
        <p>Track your investments and manage your portfolio with ease.</p>
    <br>
    <div class="buttons">
            <a href="/login" class="btn login">Log in</a>
            <a href="/register" class="btn register">Register</a>
        </div>
    </div>

    <div class="ticker">
    <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark"
            width="100%" height="40" scrolling="no" frameborder="0"></iframe>
    </div>

</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

<script>
tsParticles.load("tsparticles", {
    particles: {
        number: { value: 80 },
        color: { value: "#ffffff" },

        links: {   
            enable: true,
            color: "#ffffff",
            opacity: 0.1
        },

        opacity: { value: 0.2 },
        size: { value: 2 },
        move: {
            enable: true,
            speed: 1
        }
    }
});
</script>
