<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>P.I.T.</title>

    <!-- Flask için CSS bağlantısı -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="hero-container">

    <div class="hero-left">

        <div class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>

            <div>
                <h2>P.I.T.</h2>
                <p>Personal Investment Tracker</p>
            </div>
        </div>

        <h1>
            Track.<br>
            Analyze.<br>
            <span>Grow.</span>
        </h1>

        <p class="hero-desc">
            Manage your investments with real-time analytics,
            crypto tracking and portfolio insights.
        </p>

        <div class="hero-buttons">
            <a href = "/login" class="primary-btn">Get Started</a>
            <a href = "/learn" class="secondary-btn">Learn More</a>
        </div>

    </div>

    <div class="hero-right">

        <div class="glass-card">
            <h3>Popular Cryptocurrencies</h3>

            <h2>#1 Bitcoin</h2>
            <div class="profit">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span>+1.5% Today</span> </div>
            <h2>#2 Ethereum</h2>
            <div class="profit">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span>+3.2% Today</span> </div>
            <h2>#3 Ripple</h2>
            <div class="profit">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span>+1% Today</span> </div>
            <h2>#4 Litecoin</h2>
            <div class="loss">
                <i class="fa-solid fa-arrow-trend-down"></i>
                <span>-0.8% Today</span> </div>
            <h2>#5 Cardano</h2>
            <div class="profit">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span>+0.2% Today</span> </div>

            
            
        </div>

    </div>

</div>

</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>

<script>
tsParticles.load("tsparticles", {
    particles: {
        number: { value: 80 },
        color: { value: "#ffffff" },

        links: {   
            enable: true,
            color: "#ffffff",
            opacity: 0.1
        },

        opacity: { value: 0.2 },
        size: { value: 2 },
        move: {
            enable: true,
            speed: 1
        }
    }
});
</script>
