<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>P.I.T Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
</head>

<body>

  <div class="background-grid"></div>

    <!-- LEFT SIDE -->
    <div class="left-side">

      <a href="/" class="logo">

        <div class="logo-icon">
          <i class="fa-solid fa-chart-line"></i>
        </div>

        <div>
          <h2>P.I.T.</h2>
          <p>Personal Investment Tracker</p>
        </div>

      </a>

      <h1 class="hero-title">
        Track. Analyze. <span>Grow.</span>
      </h1>

      <p class="hero-text">
        Your all-in-one dashboard for smarter investment decisions.
      </p>

      <div class="chart">

        <svg viewBox="0 0 500 200">
          <polyline
            fill="none"
            stroke="#3b82f6"
            stroke-width="5"
            points="
              0,180
              60,140
              100,100
              150,110
              200,60
              250,80
              300,30
              350,50
              400,10
              500,-20
            "
          />
        </svg>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="login-card">

      <h1>About P.I.T.</h1>

      <p class="subtitle">
        This site is a personal investment tracker that allows users to manage their investments, track their portfolio performance, and analyze their returns. It provides real-time analytics, crypto tracking, and portfolio insights to help users make informed investment decisions.
      </p>

        <h5>Features:</h5>
        <ul>
          <li>Real-time investment tracking</li>
          <li>Crypto currency monitoring</li>
          <li>Portfolio performance analysis</li>
          <li>Customizable investment goals</li>
        </ul>
    
        <br> <br>
          <h5> Made by Mert Muhammed Çapkın</h5>
          <h5> 230303005  /  Istanbul Arel University   </h5>
  </div>

</body>
</html>