<div id="sidebar">
    <a href = "/">

        <span class="icon">🏠</span>

        <span class="text">
            Home
        </span
    </a
        
        >
    <a href="/dashboard">

        <span class="icon">📊</span>

        <span class="text">
            Dashboard
        </span>

    </a>

    <a href="/add">

        <span class="icon">➕</span>

        <span class="text">
            Add Investment
        </span>

    </a>

    <a href="/logout">

        <span class="icon">🚪</span>

        <span class="text">
            Logout
        </span>

    </a>

</div>