<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>P.I.T Login</title>
  <link rel="icon" type="image/png" href="/static/logos/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/static/logos/favicon.svg" />
  <link rel="shortcut icon" href="/static/logos/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/logos/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/static/logos/site.webmanifest" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
</head>

<body>

  <div class="background-grid"></div>

    <!-- LEFT SIDE -->
    <div class="left-side">

      <a href="/" class="logo">

        <div class="logo-icon">
          <i class="fa-solid fa-chart-line"></i>
        </div>

        <div>
          <h2>P.I.T.</h2>
          <p>Personal Investment Tracker</p>
        </div>

      </a>

      <h1 class="hero-title">
        Track. Analyze. <span>Grow.</span>
      </h1>

      <p class="hero-text">
        Your all-in-one dashboard for smarter investment decisions.
      </p>

      <div class="chart">

        <svg viewBox="0 0 500 200">
          <polyline
            fill="none"
            stroke="#3b82f6"
            stroke-width="5"
            points="
              0,180
              60,140
              100,100
              150,110
              200,60
              250,80
              300,30
              350,50
              400,10
              500,-20
            "
          />
        </svg>

        <div class="stat-card">
          <h3>+8.45%</h3>
          <p>Total Return</p>
        </div>

      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="login-card">

      <div class="lock-icon">
        <i class="fa-solid fa-lock"></i>
      </div>

      <h1>Create Account</h1>

      <p class="subtitle">
        Sign up to get started with your investment tracking
      </p>

      <form class="login-form" method="POST" action="/register">

      <!-- Username -->
      <div class="input-group">
      <i class="fa-regular fa-user"></i>
      <input type="text" name="username" placeholder="Username" required>
      </div>

    <!-- Password -->
    <div class="input-group">
        <i class="fa-solid fa-lock"></i>

        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        >

        <button type="button" class="show-btn" onclick="togglePassword('password', this)">
            <i class="fa-solid fa-eye"></i>
          </button>
    </div>

    <!-- Confirm Password -->
    <div class="input-group">
        <i class="fa-solid fa-lock"></i>

        <input
          type="password"
          id="confirm-password"
          name="confirm_password"
          placeholder="Confirm Password"
          required
          >

          <button type="button" class="show-btn" onclick="togglePassword('confirm-password', this)">
            <i class="fa-solid fa-eye"></i>
          </button>
    </div>  

  <button type="submit" class="login-btn">
    Register
  </button>

  {% if error %}
    <p style="color:red;">
      {{ error }}
    </p>
  {% endif %}

</form>
    

</body>

<script>
function togglePassword(inputId, button) {

  const input = document.getElementById(inputId);
  const icon = button.querySelector("i");

  if (input.type === "password") {
    input.type = "text";
    icon.classList.replace("fa-eye", "fa-eye-slash");
  } else {
    input.type = "password";
    icon.classList.replace("fa-eye-slash", "fa-eye");
  }
}
</script>

</html>